@model IEnumerable<BookTracker.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">

</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .checked{
        color: orange;
       
    }
    .unchecked{
        color: whitesmoke;
    }
    .star-ratings {
        unicode-bidi: bidi-override;
        color: antiquewhite;
        font-size: 25px;
        position: relative;
        margin: 0;
        padding: 0;
        
    }
     .fill-ratings

    {
        color: orange;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
       /* // Allows us to grab the width of the span elements span*/

    
        display: inline-block;
    

    }

    .empty-ratings {
        padding: 0;
        display: block;
        z-index: 0;
    }

    
</style>

<div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 w-50 h-100 float-right">
        <div class="container">
            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Book</a>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-xl-grow-0">
                    @TempData["SignUp"]
                    <li class="nav-item">
                        <a class="nav-link text-dark " asp-controller="UserDetails" asp-action="SignUp">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="UserDetails" asp-action="LogIn">LogIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  

</div>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 w-100 h-50 float-right">
        <div class="container">
            </div>
    </nav>
        <div class="jumbotron bg-dark">
            <div>
                 <blockquote class="blockquote text-white">
              @*  <p class="text-white-50">*@
                    "There is more treasure in books than in all the pirate's loot on Treasure Island."
                @*</p>*@
                   <footer class="blockquote-footer font-weight-bold font-italic text-white">
                @*<p class="text-white text-xl-right">*@
                    Walt Disney

                @*</p>*@

                 </footer>
                 </blockquote>
            </div>


        </div>
       

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <form asp-controller="Books" asp-action="Index" method="get">
            <div class="d-flex justify-content-center">
                <input type="text" name="SearchString" placeholder="Search.." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublishedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)

                            @*@{
                                int rate = (int)item.Rating;
                            }
                           
                            @for (int i = 0; i < rate; i++)
                            {
                                <span class="fa fa-star active checked"></span>
                            }
                            @for (int i = rate; i < 5; i++)
                            {
                                <span class="fa fa-star unchecked"></span>
                            }*@
                            @{ 
                                var rate = (item.Rating / 5);
                                int percentage = (int)(rate*100);

                            }

                            <div class="star-ratings">
                                <div class="fill-ratings" style="width: @percentage%;">
                                    <span>★★★★★</span>
                                </div>
                                <div class="empty-ratings">
                                    <span>★★★★★</span>
                                </div>
                            </div>
                        </td>
                        <td>

                    </tr>
                }
            </tbody>
        </table>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

      <script>
          $(document).ready(function () {
              // Gets the span width of the filled-ratings span
              // this will be the same for each rating

              var star_rating_width = $('.fill-ratings span').width();
              // Sets the container of the ratings to span width
              // thus the percentages in mobile will never be wrong
              $('.star-ratings').width(star_rating_width);
              alert(star_rating_width);
          });
         
      </script>

            @*function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }*@
            @*$(document).ready(function () {
                (".rate").starPercentage(30)
            }
            );
            
                const starPercentage = (3.5 / 5) * 100;
                const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
                document.querySelector(`.${'#rating'} .stars-inner`).style.width = starPercentageRounded;
           
        </script>*@

        @*<script type="text/javascript">


                        var message = '@TempData["SignUp"]';
                                    if (message.length) {
                                        alert(message);
                                    }

        </script>*@
